In [0]:
import pandas as pd
import pymssql
import pymysql
import pyspark.sql.functions as F

In [0]:
jdbcHostname = "54.245.193.229" #"54.245.193.229" 
jdbcDatabase = "DEV" #"KAGGLE" 
jdbcPort = "1433" #1433 
jdbcUsername = "sa"
jdbcPassword = "WindowsSQL-123"

host = "db4free.net"
db = "exocube"
uname = "sample_jenish"
pas = "Jenu7492@patel"

In [0]:
Source_Table_Name = "EMP_INFO"

In [0]:
def get_connection(jdbcHostname, jdbcUsername, jdbcPassword, jdbcDatabase):
    try:
        sql_connection = pymssql.connect(host=jdbcHostname,user=jdbcUsername,password=jdbcPassword,database=jdbcDatabase, as_dict=True, autocommit=True)
#This exception is raised for things that are not in control of the programmer. For e.g unexpected disconnect, error in memory allocation etc, selected database not exists.
    except pymssql.OperationalError as e:
        print("connection failed")
    except:
        print("Unknown error occurred")
    else:
        return sql_connection

In [0]:
def get_myconnection(host, uname, pas, db):
    try:
        sql_myconnection = pymysql.connect(host=host,user=uname,passwd=pas,db=db, cursorclass=pymysql.cursors.DictCursor, autocommit=True)
#This exception is raised for things that are not in control of the programmer. For e.g unexpected disconnect, error in memory allocation etc, selected database not exists.
    except pymysql.OperationalError as e:
        if e.args[0] == 2003:
            print('server not found')
        elif e.args[0] == 1044:
            print('database not found')
        elif e.args[0] == 1045:
            print('username or password incorrect')
    except:
        print("Unknown error occurred")   
    else:
        return sql_myconnection

In [0]:
def display_mssql_data(sql_disqry, sql_conn):
    try:
        cursor = sql_conn.cursor()
        cursor.execute(sql_disqry)
        count = cursor.rowcount
        if count:
            sql_data = pd.DataFrame(cursor.fetchall())
            result = sql_data.head(n=None)
            display(result)
        else:
            print('No Record')
    except pymssql.ProgrammingError as e:
        if e.args[0] == 208:
            print('table doesnt exist')
        elif e.args[0] == 102:
            print('sql query syntax error')  
    finally:
        sql_conn.close()

In [0]:
def display_target_data(sql_disqry, sql_conn):
    try:
            pdf = spark.sql("(SELECT count(Emp_Id) as empidcnt,min(Emp_Id)as empidmin,max(Emp_Id)as empidmax,sum(Emp_Id)as empidsum, FLOOR(avg(Emp_Id))as empidavg, count(Salary) as salcnt,min(Salary)as salmin,max(Salary)as salmax,sum(Salary)as salsum, FLOOR(avg(Salary))as salavg, count(distinct trim(lower(Emp_Name))) as empnamecnt,min(trim(lower(Emp_Name)))as empnamemin, max(trim(lower(Emp_Name)))as empnamemax, sum(length(trim(lower(Emp_Name))))as empnamesum, FLOOR(avg(length(trim(lower(Emp_Name)))))as empnameavg, count(distinct trim(lower(Designation))) as descnt,min(trim(lower(Designation)))as desminval,max(trim(lower(Designation)))as desmaxval, sum(length(trim(lower(Designation))))as dessum,FLOOR(avg(length(trim(lower(Designation)))))as desavg, count(distinct trim(lower(Department))) as depcnt,min(trim(lower(Department)))as depmin,max(trim(lower(Department)))as depmax, sum(length(trim(lower(Department))))as depsum,FLOOR(avg(length(trim(lower(Department)))))as depavg, count(distinct trim(lower(City))) as citycnt,min(trim(lower(City)))as citymin,max(trim(lower(City)))as citymax, sum(length(trim(lower(City))))as citysum,FLOOR(avg(length(trim(lower(City)))))as cityavg, count(UNIX_TIMESTAMP(Joining_Date))as joindtecnt, min(UNIX_TIMESTAMP(Joining_Date))as joindtemin, max(UNIX_TIMESTAMP(Joining_Date))as joindtemax, sum(UNIX_TIMESTAMP(Joining_Date))as joindtesum, FLOOR(avg(UNIX_TIMESTAMP(Joining_Date)))as joindteavg FROM  {})".format(Source_Table_Name))
            pd_df = pdf.toPandas()
            display(pd_df)
    except pymssql.ProgrammingError as e:
        if e.args[0] == 208:
            print('table doesnt exist')
        elif e.args[0] == 102:
            print('sql query syntax error')  
    finally:
        sql_conn.close()

In [0]:
sql_conn = get_connection(jdbcHostname, jdbcUsername, jdbcPassword, jdbcDatabase)

In [0]:
sql_disqry ="(SELECT count(Emp_Id) as empidcnt,min(Emp_Id)as empidmin,max(Emp_Id)as empidmax,sum(Emp_Id)as empidsum, avg(Emp_Id)as empidavg, count(Salary) as salcnt,min(Salary)as salmin,max(Salary)as salmax,sum(Salary)as salsum, avg(Salary)as salavg, count(distinct trim(lower(Emp_Name))) as empnamecnt,min(trim(lower(Emp_Name)))as empnamemin, max(trim(lower(Emp_Name)))as empnamemax, sum(len(trim(lower(Emp_Name))))as empnamesum, avg(len(trim(lower(Emp_Name))))as empnameavg, count(distinct trim(lower(Designation))) as descnt,min(trim(lower(Designation)))as desminval,max(trim(lower(Designation)))as desmaxval, sum(len(trim(lower(Designation))))as dessum,avg(len(trim(lower(Designation))))as desavg,  count(distinct trim(lower(Department))) as depcnt,min(trim(lower(Department)))as depmin,max(trim(lower(Department)))as depmax, sum(len(trim(lower(Department))))as depsum,avg(len(trim(lower(Department))))as depavg, count(distinct trim(lower(City))) as citycnt,min(trim(lower(City)))as citymin,max(trim(lower(City)))as citymax, sum(len(trim(lower(City))))as citysum,avg(len(trim(lower(City))))as cityavg, count(DATEDIFF(s, '1970-01-01 00:00:00', Joining_Date))as joindtecnt, min(DATEDIFF(s, '1970-01-01 00:00:00', Joining_Date))as joindtemin, max(DATEDIFF(s, '1970-01-01 00:00:00', Joining_Date))as joindtemax, sum(DATEDIFF(s, '1970-01-01 00:00:00', Joining_Date)* convert(bigint, 1000))as joindtesum, avg(DATEDIFF(s, '1970-01-01 00:00:00', Joining_Date)* convert(bigint, 1000))as joindteavg FROM {})".format(Source_Table_Name)
display_mssql_data(sql_disqry, sql_conn)

empidcnt,empidmin,empidmax,empidsum,empidavg,salcnt,salmin,salmax,salsum,salavg,empnamecnt,empnamemin,empnamemax,empnamesum,empnameavg,descnt,desminval,desmaxval,dessum,desavg,depcnt,depmin,depmax,depsum,depavg,citycnt,citymin,citymax,citysum,cityavg,joindtecnt,joindtemin,joindtemax,joindtesum,joindteavg
15,4,21,194,12,15,18690,56000,497284,33152,15,amit desai,suresh ahir,175,11,6,admin,manager,85,5,2,hr,it,30,2,4,bardoli,surat,87,5,15,978307200,1427846400,18399657600000,1226643840000

In [0]:
display_target_data(sql_disqry, sql_conn)

empidcnt,empidmin,empidmax,empidsum,empidavg,salcnt,salmin,salmax,salsum,salavg,empnamecnt,empnamemin,empnamemax,empnamesum,empnameavg,descnt,desminval,desmaxval,dessum,desavg,depcnt,depmin,depmax,depsum,depavg,citycnt,citymin,citymax,citysum,cityavg,joindtecnt,joindtemin,joindtemax,joindtesum,joindteavg
15,4,21,194,12,15,18690,56000,497284,33152,15,amit desai,suresh ahir,175,11,6,admin,manager,85,5,2,hr,it,30,2,4,bardoli,surat,87,5,15,978307200,1427846400,18399657600,1226643840

In [0]:
def display_mysql_data(sql_disqry, sql_conn):
    try:
        cursor = sql_conn.cursor()
        sql_exec = cursor.execute(sql_disqry)
        if sql_exec:
            sql_data = pd.DataFrame(cursor.fetchall())
            result = sql_data.head(n=None)
            display(result)
        else:
            print(sql_exec)
            print("No Record")
    except pymysql.ProgrammingError as e:
        if e.args[0] == 1146:
            print('table doesnt exist')
        elif e.args[0] == 1064:
            print('sql query syntax error')  
    finally:
        sql_conn.close()

In [0]:
sql_conn = get_myconnection(host, uname, pas, db)

In [0]:
sql_disqry ="(SELECT count(Emp_Id) as empidcnt,min(Emp_Id)as empidmin,max(Emp_Id)as empidmax,sum(Emp_Id)as empidsum, FLOOR(avg(Emp_Id))as empidavg, count(Salary) as salcnt,min(Salary)as salmin,max(Salary)as salmax,sum(Salary)as salsum, FLOOR(avg(Salary))as salavg, count(distinct trim(lower(Emp_Name))) as empnamecnt,min(trim(lower(Emp_Name)))as empnamemin, max(trim(lower(Emp_Name)))as empnamemax, sum(length(trim(lower(Emp_Name))))as empnamesum, FLOOR(avg(length(trim(lower(Emp_Name)))))as empnameavg, count(distinct trim(lower(Designation))) as descnt,min(trim(lower(Designation)))as desminval,max(trim(lower(Designation)))as desmaxval, sum(length(trim(lower(Designation))))as dessum,FLOOR(avg(length(trim(lower(Designation)))))as desavg, count(distinct trim(lower(Department))) as depcnt,min(trim(lower(Department)))as depmin,max(trim(lower(Department)))as depmax, sum(length(trim(lower(Department))))as depsum,FLOOR(avg(length(trim(lower(Department)))))as depavg, count(distinct trim(lower(City))) as citycnt,min(trim(lower(City)))as citymin,max(trim(lower(City)))as citymax, sum(length(trim(lower(City))))as citysum,FLOOR(avg(length(trim(lower(City)))))as cityavg, count(UNIX_TIMESTAMP(Joining_Date))as joindtecnt, min(UNIX_TIMESTAMP(Joining_Date))as joindtemin, max(UNIX_TIMESTAMP(Joining_Date))as joindtemax, sum(UNIX_TIMESTAMP(Joining_Date))as joindtesum, FLOOR(avg(UNIX_TIMESTAMP(Joining_Date)))as joindteavg FROM {})".format(Source_Table_Name)
display_mysql_data(sql_disqry, sql_conn)

empidcnt,empidmin,empidmax,empidsum,empidavg,salcnt,salmin,salmax,salsum,salavg,empnamecnt,empnamemin,empnamemax,empnamesum,empnameavg,descnt,desminval,desmaxval,dessum,desavg,depcnt,depmin,depmax,depsum,depavg,citycnt,citymin,citymax,citysum,cityavg,joindtecnt,joindtemin,joindtemax,joindtesum,joindteavg
15,4,21,194,12,15,18690,56000,497284,33152,15,amit desai,suresh ahir,175,11,6,admin,manager,85,5,2,hr,it,30,2,4,bardoli,surat,87,5,15,978307200,1427846400,18399657600,1226643840