In [0]:
import pandas as pd
import pymssql
import pymysql

In [0]:
jdbcHostname = "54.245.193.229" #"54.245.193.229" 
jdbcDatabase = "DEV" #"KAGGLE" 
jdbcPort = "1433" #1433 
jdbcUsername = "sa"
jdbcPassword = "WindowsSQL-123"

host = "db4free.net"
db = "exocube"
uname = "sample_jenish"
pas = "Jenu7492@patel"

In [0]:
Source_Table_Name = "EMP_INFO"

In [0]:
def get_connection(jdbcHostname, jdbcUsername, jdbcPassword, jdbcDatabase):
    try:
        sql_connection = pymssql.connect(host=jdbcHostname,user=jdbcUsername,password=jdbcPassword,database=jdbcDatabase, as_dict=True, autocommit=True)
#This exception is raised for things that are not in control of the programmer. For e.g unexpected disconnect, error in memory allocation etc, selected database not exists.
    except pymssql.OperationalError as e:
        print("connection failed")
    except:
        print("Unknown error occurred")
    else:
        return sql_connection

In [0]:
def get_myconnection(host, uname, pas, db):
    try:
        sql_myconnection = pymysql.connect(host=host,user=uname,passwd=pas,db=db, cursorclass=pymysql.cursors.DictCursor, autocommit=True)
#This exception is raised for things that are not in control of the programmer. For e.g unexpected disconnect, error in memory allocation etc, selected database not exists.
    except pymysql.OperationalError as e:
        if e.args[0] == 2003:
            print('server not found')
        elif e.args[0] == 1044:
            print('database not found')
        elif e.args[0] == 1045:
            print('username or password incorrect')
    except:
        print("Unknown error occurred")   
    else:
        return sql_myconnection

In [0]:
def display_mssql_data(sql_disqry, sql_conn):
    try:
        cursor = sql_conn.cursor()
        cursor.execute(sql_disqry)
        count = cursor.rowcount
        if count:
            sql_data = pd.DataFrame(cursor.fetchall())
            result = sql_data.head(n=None)
            spark_df = spark.createDataFrame(result)
            df = spark_df.toPandas()
            return df
        else:
            print("No Record")
    except pymssql.ProgrammingError as e:
        if e.args[0] == 208:
            print('table doesnt exist')
        elif e.args[0] == 102:
            print('sql query syntax error')  
    finally:
        sql_conn.close()

In [0]:
def display_target_data(sql_tar_disqry):
    try:
            pdf = spark.sql(sql_tar_disqry)
            pd_df = pdf.toPandas()
            return pd_df
    except pymssql.ProgrammingError as e:
        if e.args[0] == 208:
            print('table doesnt exist')
        elif e.args[0] == 102:
            print('sql query syntax error')

In [0]:
sql_conn = get_connection(jdbcHostname, jdbcUsername, jdbcPassword, jdbcDatabase)

In [0]:
sql_disqry ="(SELECT Emp_Id, lower(CONVERT(VARCHAR(256), HASHBYTES('Sha2_256', cast(CONCAT(Emp_Id, Emp_name, Designation, Department, City, Salary,DATEDIFF(s, '1970-01-01 00:00:00', Joining_Date))as varchar(256))),2)) as Hash_Key FROM {})".format(Source_Table_Name)
display_mssql_data(sql_disqry, sql_conn)

,Emp_Id,Hash_Key
0,4,fc487253058eb74d7ec8f6268f714c9f0de0b11b78a22a...
1,6,8bf36c397639d50c929c564591ed11e50b4860205dab58...
2,7,e1999a3a4b0815464685bdcf1e80bd9635ecf8e1394b3d...
3,8,b5cd98edfd177e0cbf476728375c679147ba61a95cd62a...
4,9,bebd1156519378d61fced177c271841cfd30d3ef4af624...
5,11,12b200ab4af6e9c866382a8e0f0d0770c76e06704030b1...
6,12,b6525fd429191431da1120e2e89ab4c426915fdeefacc2...
7,13,4f16df96196a8a2eb75c579ef792b961c2c000e4707026...
8,14,4367e01f192da2f38fb5612007ccdefacb5477b0100775...
9,15,aaa762d2fbeb1d33dbe7f9bee3b9ac1d809d7b323fe94a...
10,17,6af61a0f1a02689a1c3102d02abd043cfde5a484787332...
11,18,bb925413f637d18fffa03c2f0657e1d2f96e29e6b05dcb...
12,19,6020045e47474171582b643c25122ccaed1176826f24f5...
13,20,872dc1ddc20f30fbc71518eb973862018c316284da6279...
14,21,e592dde9589d27a3ce10145b5eb8bacd8c1b079a217361...

In [0]:
sql_tar_disqry = "(select Emp_Id, sha2(CONCAT(Emp_Id, Emp_name, Designation, Department, City, Salary, UNIX_TIMESTAMP(Joining_Date)),256)as Hash_Key FROM {})".format(Source_Table_Name)
display_target_data(sql_tar_disqry)

(select Emp_Id, sha2(CONCAT(Emp_Id, Emp_name, Designation, Department, City, Salary, UNIX_TIMESTAMP(Joining_Date)),256)as Hash_Key FROM EMP_INFO)

,Emp_Id,Hash_Key
0,4,dfe448dc6fb5bdb1aeff670d6d0bbd564418613beb7258...
1,6,440a2ad1a4472c9703dfeac22b8a6465004710701b5ece...
2,7,e1999a3a4b0815464685bdcf1e80bd9635ecf8e1394b3d...
3,8,b5cd98edfd177e0cbf476728375c679147ba61a95cd62a...
4,9,bebd1156519378d61fced177c271841cfd30d3ef4af624...
5,11,12b200ab4af6e9c866382a8e0f0d0770c76e06704030b1...
6,12,b6525fd429191431da1120e2e89ab4c426915fdeefacc2...
7,13,4f16df96196a8a2eb75c579ef792b961c2c000e4707026...
8,14,4367e01f192da2f38fb5612007ccdefacb5477b0100775...
9,15,aaa762d2fbeb1d33dbe7f9bee3b9ac1d809d7b323fe94a...
10,17,6af61a0f1a02689a1c3102d02abd043cfde5a484787332...
11,18,bb925413f637d18fffa03c2f0657e1d2f96e29e6b05dcb...
12,19,6020045e47474171582b643c25122ccaed1176826f24f5...
13,20,872dc1ddc20f30fbc71518eb973862018c316284da6279...
14,21,e592dde9589d27a3ce10145b5eb8bacd8c1b079a217361...

In [0]:
sql_conn = get_connection(jdbcHostname, jdbcUsername, jdbcPassword, jdbcDatabase)

In [0]:
df = display_mssql_data(sql_disqry, sql_conn)
df2 = display_target_data(sql_tar_disqry)
res = df.compare(df2)
if res.empty:
    print('Match all hash keys')
else:
    sql_qry ="(SELECT * FROM {} where {} in(".format(Source_Table_Name,df.columns[0])
    res.insert(0, df.columns[0], df[df.columns[0]])
    display(res)
    for value in res.itertuples():
        sql_qry +="{},".format(value[1])
        rmres = sql_qry.rstrip(',')
        res_qry = ''.join((rmres,"))"))

(SELECT * FROM EMP_INFO where Emp_Id in(4,6))

"('Emp_Id', '')","('Hash_Key', 'self')","('Hash_Key', 'other')"
4,fc487253058eb74d7ec8f6268f714c9f0de0b11b78a22ad87e57b0fdce69f648,dfe448dc6fb5bdb1aeff670d6d0bbd564418613beb725841e803eb0a5ecb2833
6,8bf36c397639d50c929c564591ed11e50b4860205dab58572797209737a60720,440a2ad1a4472c9703dfeac22b8a6465004710701b5ece5b25b53aa8f8db7493

In [0]:
dff = display_mssql_diff_data(res_qry, sql_conn)
dff2 = display_target_diff_data(res_qry)
clres = dff.compare(dff2)
if clres.empty:
    print('Match all hash keys')
else:
    display(clres)

"('Department', 'self')","('Department', 'other')","('City', 'self')","('City', 'other')"
HR,IT,null,null
null,null,Pune,Surat

In [0]:
def display_target_diff_data(res_qry):
    try:
            pdf = spark.sql(res_qry)
            pd_df = pdf.toPandas()
            return pd_df
    except pymssql.ProgrammingError as e:
        if e.args[0] == 208:
            print('table doesnt exist')
        elif e.args[0] == 102:
            print('sql query syntax error')

In [0]:
def display_mssql_diff_data(res_qry, sql_conn):
    try:
        cursor = sql_conn.cursor()
        cursor.execute(res_qry)
        count = cursor.rowcount
        if count:
            sql_data = pd.DataFrame(cursor.fetchall())
            result = sql_data.head(n=None)
            spark_df = spark.createDataFrame(sql_data)
            df = spark_df.toPandas()
            return df
        else:
            print("No Record")
    except pymssql.ProgrammingError as e:
        if e.args[0] == 208:
            print('table doesnt exist')
        elif e.args[0] == 102:
            print('sql query syntax error')  
    finally:
        sql_conn.close()

In [0]:
def display_mysql_data(sql_my_disqry, sql_conn):
    try:
        cursor = sql_conn.cursor()
        sql_exec = cursor.execute(sql_my_disqry)
        if sql_exec:
            sql_data = pd.DataFrame(cursor.fetchall())
            result = sql_data.head(n=None)
            spark_df = spark.createDataFrame(result)
            df = spark_df.toPandas()
            return df
        else:
            print(sql_exec)
            print("No Record")
    except pymysql.ProgrammingError as e:
        if e.args[0] == 1146:
            print('table doesnt exist')
        elif e.args[0] == 1064:
            print('sql query syntax error')  
    finally:
        sql_conn.close()

In [0]:
sql_conn = get_myconnection(host, uname, pas, db)

In [0]:
sql_my_disqry ="(select Emp_Id, sha2(CONCAT(Emp_Id, Emp_name, Designation, Department, City, Salary, UNIX_TIMESTAMP(Joining_Date)),256)as Hash_Key FROM {})".format(Source_Table_Name)
print(sql_disqry)
display_mysql_data(sql_my_disqry, sql_conn)

(SELECT Emp_Id, lower(CONVERT(NVARCHAR(256), HASHBYTES('Sha2_256', CONCAT(Emp_Id, Emp_name, Designation, Department, City, Salary,DATEDIFF(s, '1970-01-01 00:00:00', Joining_Date))),2)) as Hash_Key FROM EMP_INFO)

,Emp_Id,Hash_Key
0,4,dfe448dc6fb5bdb1aeff670d6d0bbd564418613beb7258...
1,6,440a2ad1a4472c9703dfeac22b8a6465004710701b5ece...
2,7,e1999a3a4b0815464685bdcf1e80bd9635ecf8e1394b3d...
3,8,b5cd98edfd177e0cbf476728375c679147ba61a95cd62a...
4,9,bebd1156519378d61fced177c271841cfd30d3ef4af624...
5,11,12b200ab4af6e9c866382a8e0f0d0770c76e06704030b1...
6,12,b6525fd429191431da1120e2e89ab4c426915fdeefacc2...
7,13,4f16df96196a8a2eb75c579ef792b961c2c000e4707026...
8,14,4367e01f192da2f38fb5612007ccdefacb5477b0100775...
9,15,aaa762d2fbeb1d33dbe7f9bee3b9ac1d809d7b323fe94a...
10,17,6af61a0f1a02689a1c3102d02abd043cfde5a484787332...
11,18,bb925413f637d18fffa03c2f0657e1d2f96e29e6b05dcb...
12,19,6020045e47474171582b643c25122ccaed1176826f24f5...
13,20,872dc1ddc20f30fbc71518eb973862018c316284da6279...
14,21,e592dde9589d27a3ce10145b5eb8bacd8c1b079a217361...

In [0]:
sql_conn = get_myconnection(host, uname, pas, db)

In [0]:
df = display_mysql_data(sql_my_disqry, sql_conn)
df2 = display_target_data(sql_tar_disqry)
res = df.compare(df2)
if res.empty:
    print('Match all hash keys')
else:
    print('no match')

Match all hash keys